<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register'%}">register</a>
        <a href="{% url 'about'%}">About Us</a>
        <a href="{% url 'contact'%}">Contact US</a>
        <a href="{% url 'collections'%}">Collections</a>
        
    </nav>
</body>
</html>